 # Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
*.log

# PDF files (uncomment if you don't want to track PDFs in your repo)
# *.pdf

# Streamlit
.streamlit/

# Vectorestore
db/

# Miscellaneous
*.bak
*.tmp
*.temp